
//Página 3//

.divbox3a {
    display: flexbox;
    flex-direction: row ;
    align-items: center;
    img {
        @include size(80%, 300px);
        @include margenes(20px, 15px);
    }    
}

.divbox3b {
    background-color: #F5E7D7; 
    border-style: double;
    width: 200px;
    margin-bottom: 15px;
    a {
        text-decoration: none;
        color: $azul; }
        h3 {
            text-align: center;
        
        }
    }
